<%= form_for(business) do |f| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <div class="col-sm-6 col-md-6">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                    <tr>
                      <td><%= f.label :title %></td>
                      <td><%= f.text_field :title %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :description %></td>
                      <td><%= f.text_area :description %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :rating %></td>
                      <td><%= f.text_field :rating %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :srp %></td>
                      <td><%= f.text_field :srp %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :commision %></td>
                      <td><%= f.text_field :commision %></td>
                    </tr>
                      <tr>
                      <td></td>
                      <td><%= f.file_field :pictures, multiple: true %></td>
                    </tr>
                </tbody>
              </table>
              <%= f.submit %>
            </div>
        </div>
<% end %>
