<p id="notice"><%= notice %></p>

<p>
<% @business.pictures.each do |pic| %>
    <%= image_tag pic.medium.url %>
<% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @business.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @business.rating %>
</p>

<p>
  <strong>Srp:</strong>
  <%= @business.srp %>
</p>

<p>
  <strong>Commision:</strong>
  <%= @business.commision %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
